/*
Theme name: DevriX
Description: Events
*/

* { padding: 0; margin: 0; }
.wrapper { min-height: 100%; max-width: 100%; }
.main { padding: 20px; }
.shell { max-width: 1024px; margin: 0 auto; }
.pagetitle { margin-bottom: 2rem; }

.articles { list-style: none outside none; }
.article + .article { padding-top: 2rem; margin-top: 2rem; border-top: 1px solid  #000; }
.article__meta { margin-bottom: 1rem; }
.article__meta p { margin-bottom: 0; }

.google-map { width: 100%; min-height: 300px; }
.event-location { margin-left: 20px; width: 30%; }

.articles .article-body { display: flex; }
.articles .article-body .article-entry { flex: 1 1 70%; }
.articles .article-body .event-location { flex: 0 0 30%; margin-left: 20px; overflow: hidden; }

.article-single .event-location { float: right; }

.event-map { position: relative; width: 100%; height: 0; padding-bottom: 56%; }
.event-map .google-map { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; min-height: 0; }

.article-head { display: flex; }
.article-head .article-head-left { flex: 1 0 auto; }
.article-head .article-head-right { flex: 0 0 30%; margin-left: 20px; text-align: right; }

@media screen and (max-width: 768px) {
	.main { padding: 10px; }

	.event-location { width: 100%; margin: 20px 0; }

	.articles .article-body { flex-flow: row wrap; }
	.articles .article-body .article-entry { flex: 0 1 100%; }
	.articles .article-body .event-location { flex: 0 1 100%; margin: 20px 0; }

	.article-single .event-location { float: none; }

	.article-head { flex-flow: row wrap; }
	.article-head .article-head-left { flex: 0 1 100%; }
	.article-head .article-head-right { flex: 0 1 100%; margin: 0 0 1rem; text-align: left; }
}
